@model List<CourseHub.Areas.Admin.Models.ViewModels.GetAllCategoriesViewModel>
<div class="card-body no-hover stat-box">
    <div class="row row-cols-1 row-cols-md-3 g-3" dir="rtl">
        <div class="col-md-2">
            <input type="type" name="name" value="" />
        </div>
        <div class="col">
            <div class="stat-box stat-green d-flex align-items-center justify-content-center h-100 position-relative">
                <span class="fw-bold fs-4 text-white">اضافه‌کردن دسته</span>
                <a class="stretched-link" asp-area="Admin" asp-controller="Category" asp-action="Create" aria-label="د"></a>
            </div>
        </div>
    </div>
</div>

<div class="card-body stat-box no-hover">
    <div class="table-admin-wrap mt-4">
        <table class="table-admin compact" dir="rtl">
            <thead>
                <tr>
                    <th>نام دسته</th>
                    <th>اسلاگ</th>
                    <th>دسته مرتبط</th>
                    <th>تعداد دوره</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model )
                {
                    <tr>
                        <td class="col-title">@item.Name</td>
                        <td class="col-slug">
                            <span class="slug-chip" dir="rtl">
                                @item.Slug
                            </span>
                        </td>
                        <td class="col-title">
                            @item.ParentName
                        </td>
                        <td>
                            CoursesCount
                        </td>
                        <td>
                            <a class="table-action"
                               asp-area="Admin" asp-controller="Category" asp-action="Edit" asp-route-id="@item.ID">
                                ویرایش
                            </a>
                            <a class="table-action table-action--danger"
                               asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-id="@item.ID">
                                حذف
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>